.logo{
    width: 50px;
    aspect-ratio: 1/1;
    background-color: #3A7CA5;
    border-radius: 50%;
    padding: 2px;
}
.logo img{
    width: 100%;
}
*{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
header > div{
    display: flex;
    align-items: center;
    margin: 10px 30px;
}
header nav ul{
    display: flex;
    list-style: none;
}
header ul a{
    color: #00FFFF;
    font-weight: bold;
    padding: 20px 20px;
    font-size: 18px;
    cursor: pointer;
    text-transform: uppercase;
    transition: .5s ease-in;
}
header ul a:hover{
    color: #00FFFF;
    text-shadow: 0 0 10px #00FFFF, 0 0 20px #00FFFF;
}
header .profile{
    width: 50px;
    aspect-ratio: 1/1;
}
header .profile img{
    width: 100%;
    background-color: #2A6F73;
    border-radius: 50%;
}
body{
    background-image: url("./backgrond1.webp");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    margin-top: 8cm;
    margin-bottom: 50px;
    width: 95%;
    background-color: white;
    padding-top: 50px;
    border-radius: 8px;
}
@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');
.quate>h2{
    padding: 0 5px;
    width: fit-content;
    font-size: 3rem;
    position: relative;
    font-family:"Boldonse";
    margin-bottom: 8px;
}
.quate>h2::before{
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    height: 3px;
    background-color: black;
    content: "";
    border-radius: 2px 2px 2px;
}
.quate{
    margin: 40px 60px;
}
.quate > div{
    font-family: "Winky Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    padding: 15px 20px;
    width: 55%;
}
.quate h4 span{
    font-size: 30px;
}
footer{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
footer .social-links{
    font-size: 20px;
}
footer nav{
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 400px;
}
footer nav a{
    width: 50px;
}
footer nav img{
    width: 100%;
}
.github-rep{
    margin: 40px;}
.git-container a{
    display: block;
    width: min-content;
    text-decoration: none;
    width: 200px;
    height: 60px;
    text-align: center;
    color: black;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
}
.git-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}