header .img-container{
    width: 10rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: black;
    padding: .5rem;
    box-shadow: 
    0 0 .2rem #fff,
    0 0 1rem #00e5ff;
}
header .img-container img{
    width: 100%;
    aspect-ratio: 1/1;
}

body{
    background-color: black;
    font-size: 60px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    background-color: #111;
}
header h1{
    color: rgb(191, 252, 252);
    text-align: center;
    width: fit-content;
    margin-right: 3rem;
    text-shadow: 
    0 0 .01rem #fff,
    0 0 .2em #00e5ff;
}
@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');
.quate{
    font-family: "Winky Sans";
    color: #c4c4c4;
    margin: .8em;
    padding: 1.4em 1.2em;
    background-color: #222;
    border-radius: 1em;
    text-shadow: #838383 .3rem .3rem 5px;
    box-shadow: #040404 0 0 70px  .1em inset,#00e5ff .1em .1em 20px,#ff0000e0 0 0 40px .02em;
}
.quate h3{
    font-size: 1.6em;
    font-family: inherit;
}
.quate p{
    margin: .2em .1em;
    font-size: .7em;
    letter-spacing: .2em;
    word-spacing: .4em;
    text-indent: 7rem;  
    font-family: inherit;
    line-height: 1.5em;
}
.quate span{
    font-family: inherit;
    font-weight: bold;
}
.profile img{
    width: 7em;
    border-radius: 50%;
    background-color: black;
    box-shadow: 0px .2em .6em .18em #c800ffb3;
}
.profile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10em;
}