header .img-container{
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: black;
    padding: .5rem;
    box-shadow: #555 0 0 20px .1rem;
}
header .img-container img{
    width: 100%;
    aspect-ratio: 1/1;
}
body{
    background-color: black;
    font-size: 60px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    background-color: #111;
}
header h1{
    color: white;
    text-align: center;
    width: fit-content;
    margin-right: 3rem;
}
.container{
    margin: .8em;
    margin-top: 20rem;
    color: white;
    background-color: #111;
    padding: 1em;
    border-radius: .5em;
}
.quate{
    padding: 1.2em;
    background-color: #222;
    border-radius: 1em;
    text-shadow: #838383 .3rem .3rem 5px;
    box-shadow: #040404 0 0 20px  .1em inset,#d3666685 .3rem .3rem 10px;
}
.quate h3{
    font-size: 1.5em;
}
.quate p{
    margin: 0 .2em;
    font-size: .7em;
    word-spacing: .4em;
    text-indent: 6rem;  
}